# this file installs production dependencies and development and tests dependencies
# (ordered alphabetically)
-r requirements.txt

# required for tests:
coverage
pytest
pytest-cov
pytest-sugar
pep8

# required for doc:
sphinx
sphinx_rtd_theme
